/**
* The stylesheet for responsive layout.
*
* package		WordPress
* subpackage	PrimaShop
* since			PrimaShop 1.0
*/

/** 
* Table of Contents
* --------------------------------------------------------------
* --------------------------------------------------------------
* -- Tablet portrait (768x1024), Small tablet landscape (800x600)
* -- Small tablet portrait (600x800)
* -- Mobile landscape (480x320), Mobile portrait (320x480)
* --------------------------------------------------------------
* --------------------------------------------------------------
*/

/* Tablet portrait (768x1024), Small tablet landscape (800x600)
-------------------------------------------------------------- */

@media only screen and (max-width: 1000px) {

  body.stylelayout-boxed #container {
    padding: 20px 0;
  }
  body.stylelayout-full .margin{
    margin: 0 30px;
    width: auto;
  }
  body.stylelayout-boxed #container .container-inner {
    margin: 0 30px;
    width: auto;
  }
  #topnav .topnav-left, #topnav .topnav-right, #topnav ul.topnav-menu {
    float:none !important;
    width:auto !important;
    text-align: center;
  }
  #topnav .topnav-right {
    border-top: 1px solid #999;
  }
  #topnav ul.topnav-menu li, #topnav ul.topnav-menu input.searchinput {
    float:none !important;
    display: inline-block;
  }
  .header-logo-active #header-title,
  .header-logo-active #header-title .site-title,
  .header-logo-active #header-title .site-title a {
    float:none !important;
    width:auto !important;
    text-align: center;
    background-position: center center !important;
  }
  #header-menu,
  #header-menu .menu-primary {
    float:none !important;
    width:auto !important;
    text-align: center;
  }
  #header-menu {
    padding-bottom: 25px;
  }
  #header-menu .menu-primary li {
    padding: 0 10px;
    float:none !important;
    display: inline-block;
  }
  #header-menu .menu-primary li:hover ul,
  #header-menu .menu-primary li.sfHover ul {
    top: 3em;
  }
  #header-menu .menu-primary a,
  #header-menu .menu-primary a:visited {
    padding: 0;
    line-height: 2em;
  }
  #header-menu .menu-primary li li a,
  #header-menu .menu-primary li li a:visited {
    padding: 10px;
    text-align: left;
    line-height: 1.7em;
  }
  #footer .footer-left,
  #footer .footer-right {
    float:none !important;
    width:auto !important;
    text-align: center;
  }
  #footer .footer-right ul.footer-menu {
    float:none !important;
  }
  #footer .footer-right ul.footer-menu li {
    float:none !important;
    display:inline-block;
    padding:0 10px;
  }

}

/* Small tablet portrait (600x800)
-------------------------------------------------------------- */

@media only screen and (max-width: 700px) {
  
  body, input, textarea {
    font-size: 13px;
  }
  .content-wrap, #content, #sidebar, #sidebarmini {
    float:none !important;
    width:auto !important;
  }
  #content {
    padding:25px 0px;
  }
  #sidebar, #sidebarmini {
    padding: 25px 0 25px 0;
  }
  .twocol-one,.threecol-one,.threecol-two,.fourcol-one,.fourcol-two,.fourcol-three,.fivecol-one,.fivecol-two,.fivecol-three,.fivecol-four,.sixcol-one,.sixcol-two,.sixcol-three,.sixcol-four,.sixcol-five {
    width: 100%; 
    margin-right:0 !important;
    margin-bottom: 20px;
    float: none;
    display: block;
  }
  .footer-widgets-20 #footer-widgets .footer-widget-1,
  .footer-widgets-20 #footer-widgets .footer-widget-2,
  .footer-widgets-21 #footer-widgets .footer-widget-1,
  .footer-widgets-21 #footer-widgets .footer-widget-2,
  .footer-widgets-22 #footer-widgets .footer-widget-1,
  .footer-widgets-22 #footer-widgets .footer-widget-2,
  .footer-widgets-30 #footer-widgets .footer-widget-1,
  .footer-widgets-30 #footer-widgets .footer-widget-2,
  .footer-widgets-30 #footer-widgets .footer-widget-3 {
    float: none !important;
    width: 100% !important;
    margin-right:0 !important;
  }
  /* 2:1:1 column */
  .footer-widgets-31 #footer-widgets .footer-widget-1 {
    float: none !important;
    width: 100% !important;
    margin-right:0 !important;
  }
  .footer-widgets-31 #footer-widgets .footer-widget-2 {
    clear: both;
    width:48.0176%;
    float:left;
  }
  .footer-widgets-31 #footer-widgets .footer-widget-3 {
    width:48.0176%;
    float:right;
  }
  /* 1:1:2 column */
  .footer-widgets-32 #footer-widgets .footer-widget-1 {
    width:48.0176%;
    float:left;
  }
  .footer-widgets-32 #footer-widgets .footer-widget-2 {
    width:48.0176%;
    float:right;
  }
  .footer-widgets-32 #footer-widgets .footer-widget-3 {
    clear: both;
    float: none !important;
    width: 100% !important;
    margin-right:0 !important;
  }
  /* 1:1:1:1 column */
  .footer-widgets-40 #footer-widgets .footer-widget-1,
  .footer-widgets-40 #footer-widgets .footer-widget-3 {
    margin-right:0 !important;
    width:48.0176%;
    float:left;
  }
  .footer-widgets-40 #footer-widgets .footer-widget-2, 
  .footer-widgets-40 #footer-widgets .footer-widget-4 {
    margin-right:0 !important;
    width:48.0176%;
    float:right;
  }
  .flex-direction-nav {
    display:none;
  }
  .flex-control-nav {
    display:none;
  }
  .woocommerce ul.products li.product:nth-child(odd), .woocommerce-page ul.products li.product:nth-child(odd) {
    width:48.05% !important;
    margin-right:3.8% !important;
    clear: both;
  }
  .woocommerce ul.products li.product:nth-child(even), .woocommerce-page ul.products li.product:nth-child(even) {
    width:48.05% !important;
    margin-right:0 !important;
    clear: none;
  }
  .woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary {
    clear: both;
    float: none !important;
    width: 100% !important;
    margin-right:0 !important;
  }
  .woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells,
  .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals,
  .woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator,
  .woocommerce table.cart td.actions .coupon, .woocommerce #content table.cart td.actions .coupon, 
  .woocommerce-page table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon,
  .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
  .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2  {
    clear: both;
    float: none !important;
    width: 100% !important;
    margin-right:0 !important;
    text-align: left;
    padding-bottom: 20px;
  }
  .woocommerce table.cart th, .woocommerce table.cart td, .woocommerce #content table.cart th, .woocommerce #content table.cart td, .woocommerce-page table.cart th, .woocommerce-page table.cart td, .woocommerce-page #content table.cart th, .woocommerce-page #content table.cart td {
    padding-left: 5px;
    padding-right: 5px;
  }
  .woocommerce table.cart td.actions, .woocommerce #content table.cart td.actions, .woocommerce-page table.cart td.actions, .woocommerce-page #content table.cart td.actions {
    text-align: left;
    padding-bottom:12px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .woocommerce table.cart td.actions .coupon, .woocommerce #content table.cart td.actions .coupon, 
  .woocommerce-page table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon {
    margin-top:8px;
    margin-bottom:10px;
    text-align: right;
    padding: 0;
  }  
  .woocommerce table.cart td.actions input, .woocommerce #content table.cart td.actions input, .woocommerce-page table.cart td.actions input, .woocommerce-page #content table.cart td.actions input {
    width: 48.5%;
    margin: 0;
  }
  .woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text,
  .woocommerce table.cart td.actions .coupon input, .woocommerce #content table.cart td.actions .coupon input, .woocommerce-page table.cart td.actions .coupon input, .woocommerce-page #content table.cart td.actions .coupon input {
    width: 48.5%;
    margin: 0;
  }
  .woocommerce .cart-collaterals .cart_totals tr td, .woocommerce .cart-collaterals .cart_totals tr th, .woocommerce-page .cart-collaterals .cart_totals tr td, .woocommerce-page .cart-collaterals .cart_totals tr th {
    padding-left: 0;
  }
  .woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    clear: both;
    float: none !important;
    width: 100% !important;
    margin-right:0 !important;
  }
  
}

/* Mobile landscape (480x320), Mobile portrait (320x480)
-------------------------------------------------------------- */

@media only screen and (max-width: 500px) {

  #header-action {
    text-align: center;
  }
  #header-action p {
    float:none !important;
    width:auto !important;
  }
  #header-action a.header-action-button {
    float:none !important;
    width:auto !important;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer-widgets-31 #footer-widgets .footer-widget-2,
  .footer-widgets-31 #footer-widgets .footer-widget-3,
  .footer-widgets-32 #footer-widgets .footer-widget-1,
  .footer-widgets-32 #footer-widgets .footer-widget-2,
  .footer-widgets-32 #footer-widgets .footer-widget-3,
  .footer-widgets-40 #footer-widgets .footer-widget-1,
  .footer-widgets-40 #footer-widgets .footer-widget-3,
  .footer-widgets-40 #footer-widgets .footer-widget-2, 
  .footer-widgets-40 #footer-widgets .footer-widget-4 {
    float: none !important;
    width: 100% !important;
    margin-right:0 !important;
  }
  .woocommerce ul.products li.product:nth-child(odd), .woocommerce-page ul.products li.product:nth-child(odd),
  .woocommerce ul.products li.product:nth-child(even), .woocommerce-page ul.products li.product:nth-child(even) {
    width:100% !important;
    margin-right:0 !important;
    clear: both;
  }
  .woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count,
  .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    float: none !important;
  }
  .woocommerce table.cart th, .woocommerce table.cart td, .woocommerce #content table.cart th, .woocommerce #content table.cart td, .woocommerce-page table.cart th, .woocommerce-page table.cart td, .woocommerce-page #content table.cart th, .woocommerce-page #content table.cart td {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 95%;
  }
  .woocommerce table.cart td.actions input, .woocommerce #content table.cart td.actions input, .woocommerce-page table.cart td.actions input, .woocommerce-page #content table.cart td.actions input {
    width: 100%;
    margin: 0 0 10px;
  }
  .woocommerce table.cart td.actions input.checkout-button, .woocommerce #content table.cart td.actions input.checkout-button, .woocommerce-page table.cart td.actions input.checkout-button, .woocommerce-page #content table.cart td.actions input.checkout-button {
    width: 100%;
    margin: 0;
  }
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    float: none !important;
    width: 100% !important;
    margin-right:0 !important;
  }
  
}
